<section id="add">
  <form action="/add" method="post">
    <textarea id="text1" name="title" placeholder="Title&hellip;"></textarea></br>
    <textarea id="text2" name="content" placeholder="Your note&hellip;"></textarea></br></br>
    <input type="submit" value="Save">
  </form>
</section>