<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title + ' | My Notebook' %></title>
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">My Notebook</a></h1>
      <h2></h2>
    </hgroup>
  </header>
 </br></br></br>
  <div id="main">
    <%= yield %>
  </div>
 
  <footer>
    <p><small><i></small></p>
  </footer>
</body>
</html>